.linea-agotado > td,
.linea-agotado > td > a {
  color: red;
  opacity: 0.8;
}

.listado-productos {
  padding: 1% 11%;
}

.listado-productos tr:hover {
  cursor: pointer;
  color: var(--colorLink);
}
