.grande {
  font-weight: bold;
    background-color: var(--colorPrimario);
    font-size: var(--fsLarge);
    border: 2px solid var(--colorNegro);
    margin: auto;
    font-size: 60px; /* aumentar el tamaño de la fuente */
    padding: 60px 60px; /* aumentar el relleno (padding) del botón */
    width: 300px; /* aumentar el ancho del botón */
    height: 300px; /* aumentar la altura del botón */
  }
  
  .grande:hover,
  .grande:focus-visible {
    background-color: var(--colorPrimarioOscuro);
  }
  .grande:active {
    background-color: var(--colorPrimario);
  }
  