* {
    box-sizing: border-box;
}

nav {
    padding-left: 10px;
    justify-content: left !important;
    gap: 10px;
}

.forms {
    margin: 40px 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

form {
    margin: 0px 3em;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.date-input {
    grid-column: 1 / 3;
    place-self: left;
}

form > h2, button {
    grid-column: 1 / 3;
}

form > button {
    width: 10em;
    place-self: center;
}

a {
    color: inherit;
    text-decoration: none;
    text-underline: none;
}