.ClienteLista {
  padding: 1% 10%;
}

.ClienteLista tr:hover {
  cursor: pointer;
  color: var(--colorLink);
}

.titulo {
  size: 3%;
}
.search {
  display: flex;
  align-items: center;
  gap: 10px;
}
