<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/common.css}">
    <title>Productos</title>
    <script crossorigin="anonymous" defer
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<header>
    <h2>RECIPLAS</h2>
    <nav>
    </nav>
    <div class="header__user">
        <span class="user-icon">SR</span>
        <span>Usuario</span>
        <a href="/">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
    </div>
</header>

<main>
    <div class="heading-list">
        <h1>Modificar Producto: <span th:text="${#ctx.producto.nombre}"></span></h1>
        <img th:alt="${#ctx.producto.nombre}" th:src="${#ctx.producto.urlImagen}" width="100px">
    </div>
    <form th:id="${#ctx.producto.codigo}">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" id="nombre" name="nombre" required th:value="${#ctx.producto.nombre}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="linea">Línea</label>
            <select class="form-select" id="linea" name="linea" required th:value="${#ctx.producto.linea}">
                <option value="Muebles">Muebles</option>
                <option value="Envases">Envases</option>
                <option value="Pellets">Pellets</option>
            </select>
        </div>
        <div class="grid--wide">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion"
                      required rows="4" th:inline="text">[[${#ctx.producto.descripcion}]]</textarea>
        </div>
        <div class="form-group">
            <label for="unidades">Unidades</label>
            <input class="form-control" id="unidades" name="unidades" required th:default="0"
                   th:value="${#ctx.producto.unidades}" type="number">
        </div>
        <div class="form-group">
            <label for="deposito">Depósito</label>
            <input class="form-control" id="deposito" name="deposito" th:value="${#ctx.producto.deposito}" type="text">
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <input class="form-control" id="precio" name="precio" required th:value="${#ctx.producto.precio}"
                   type="number">
        </div>
        <div class="form-group">
            <label for="imagen">Imagen (opcional)</label>
            <input accept="image/*" class="form-control" id="imagen" name="imagen" type="file">
        </div>
        <div class="button-list grid--wide">
            <a href="/productos">
                <button class="btn btn-secundario">Cancelar</button>
            </a>
            <button class="btn btn-primario" type="submit">Modificar</button>
        </div>
    </form>
</main>

<script>
    function buildFormDataFromModificarProducto(form) {
        const object = {};
        const formData = new FormData(form);

        object.nombre = formData.get("nombre")
        object.descripcion = formData.get("descripcion")
        object.precio = formData.get("precio")
        object.deposito = formData.get("deposito")
        object.linea = formData.get("linea")
        object.unidades = formData.get("unidades")
        formData.set("producto", new Blob([JSON.stringify(object)], {
            type: "application/json",
        }))
        return formData;
    }

    function submitModificarProducto(e) {
        e.preventDefault();
        const form = e.target;
        const formData = buildFormDataFromModificarProducto(form);
        const id = form.id;

        fetch(`http://localhost:8080/productos/modificar/${id}`, {
            method: "PUT",
            body: formData
        })
            .then(res => {
                if (res.ok) {
                    location.assign("/productos");
                } else {
                    res.text().then(msg => alert(msg));
                }
            })
            .catch(error => alert(error))
    }

    const modificarProductoForm = document.getElementsByTagName("form")[0];
    modificarProductoForm.addEventListener("submit", e => submitModificarProducto(e))
</script>
</body>
</html>