<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/common.css}">
    <title>Productos</title>
    <script crossorigin="anonymous" defer
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<header>
    <h2>RECIPLAS</h2>
    <nav>
        <a class="btn btn-secundario" href="#"><i>Productos</i></a>
    </nav>
    <div class="header__user">
        <div class="user-icon">SR</div>
    </div>
</header>

<main>

    <h2>Catálogo de Productos</h2>
    <div class="menu-acciones">
        <a href="/productos/agregar">
            <button class="btn btn-primario">Agregar</button>
        </a>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Linea</th>
            <th>Depósito</th>
            <th>Precio</th>
            <th>Unidades</th>
            <th><i>Acciones</i></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${productos}">
            <th scope="row" th:text="${prod.nombre}"></th>
            <td th:text="${prod.linea}"></td>
            <td th:text="${prod.deposito}"></td>
            <td th:text="${prod.precio}"></td>
            <td th:text="${prod.unidades}"></td>
            <td>
                <a th:href="@{/productos/modificar/{idProducto}(idProducto=${prod.id})}">
                    <button class="btn btn-secundario" th:id="${prod.id}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </a>
                <button class="btn btn-danger" onclick="handleRemoveProducto(this)" th:id="${prod.id}">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
<script>
    function handleRemoveProducto(btn) {
        const id = btn.id;

        fetch(`http://localhost:8080/productos/${id}`, {
            method: "DELETE",
        })
            .then(res => {
                if (res.status === 204) {
                    setTimeout(() => {
                        location.reload();
                    }, 1000)
                } else {
                    res.text().then(msg => alert(msg));
                }
            })
            .catch(error => alert(error))
    }
</script>
</html>